### vscode ###
.vscode/
### NetBeans ###
**/nbproject/
### PhpStorm ###
.idea/
### macOS ###
.DS_Store
### Node ###
node_modules/
package-lock.json
### Composer ###
composer.lock
!tests/composer.lock
tests/vendor/
tests/.cache/
tests/.artifacts/
tests/.local.json
.phpunit.cache/
### WordPress ###
*.pot
*.po~
*.pot~
### Tmp ###
_tmp/
